@font-face {
font-family: TheLightFont;
src: url(../fonts/TheLightFont.ttf);}
body{background-color:#101010;color:#EEEEEE;font-family:TheLightFont;font-size:2em;}
a:link{text-decoration:none;color:#43A047;}
a:visited{text-decoration:none;color:#1B5E20;}
#page{margin:auto;max-width:900px;padding:10px;}
#title{text-align:center;}
#content{margin-top:50px;}

.link{color:#43A047;}
.important{color:#00ACC1;}
.semestrul, .header{font-size:1.5em;}
ul {list-style:none;margin:0;}
ul li:before {content: ">> ";color:#EEEEEE;}
ul li{color:#00ACC1;}
ul ul li:before {content:"• ";}
ul ul li{color:#EEEEEE;}
ol li:before {content:none !important;}
ol li{color:#EEEEEE;}